:host {
  display: inline-block;
  position: relative;
  .popover{
    min-width:6rem;
    min-height:6rem;
    background:#fff;
    box-shadow: 1px 2px 5px #ccc;
    position:fixed;
    border-radius:0.3rem;
    .item{
      margin:0;
      font-size:0.7rem;
      position: relative;
      height:2.2rem;
      display:flex;
      flex-direction: row;
      align-items:center;
      padding:0 1rem;
      &:after{
        content:"";
        display:inline-block;
        width:100%;
        height:1px;
        position: absolute;
        bottom:0;
        left:0;
        background:$--lightgray-color;
        transform: scaleY(0.5);
      }
      .label{
        font-size:inherit;
      }
    }
  }
}
:host([direction]){
  .popover{
    position: absolute;
  }
}
// 垂直方位
:host([direction ^= 'bottom']) {
  .popover{
    top:0;
  }
}
:host([direction ^= 'top']) {
  .popover{
    bottom:0;
  }
}
// 水平方位
:host([direction $= 'left']) {
  .popover{
    left:0;
  }
}
:host([direction $= 'right']) {
  .popover{
    right:0;
  }
}