:host {
  display: inline-flex;
  font-size:$h6;
  @include border_1px('default', $--lightgray-color, 0.5rem);
  height:1.4rem;
  align-items: center;
  padding:0 0.8rem;
  border-radius:0.2rem;
  background-color: $--white-color;
  color:$--black-color;
  box-sizing: border-box;
}
:host([color]){
  @include border_1px('default', transparent, 0.5rem);
}
:host([type]){
  color:$--white-color;
  @include border_1px('default', transparent, 0.5rem);
}
:host([type="primary"]){
  background-color:$--primary-color;
}
:host([type="primary"][shape="plain"]){
  background-color:rgba($--primary-color, 0.1);
  @include border_1px('default', $--primary-color, 0.5rem);
  color:$--primary-color;
}
:host([type="primary"][shape="outline"]){
  @include border_1px('default', $--primary-color, 0.5rem);
  color:$--primary-color;
  background-color:$--white-color;
}
:host([type="primary"][shape="light"]){
  @include border_1px('default', $--lightgray-color, 0.5rem);
  color:$--primary-color;
  background-color:$--white-color;
}
:host([type="danger"]){
  background-color:$--danger-color;
}
:host([type="danger"][shape="plain"]){
  background-color:rgba($--danger-color, 0.1);
  @include border_1px('default', $--danger-color, 0.5rem);
  color:$--danger-color;
}
:host([type="danger"][shape="outline"]){
  @include border_1px('default', $--danger-color, 0.5rem);
  color:$--danger-color;
  background-color:$--white-color;
}
:host([type="danger"][shape="light"]){
  @include border_1px('default', $--lightgray-color, 0.5rem);
  color:$--danger-color;
  background-color:$--white-color;
}
:host([shape="rounder"]){
  @include border_1px('default', transparent, 3rem);
  border-radius:1.5rem;
}
:host([size="mini"]) {
  font-size:0.6rem;
  height:1.2rem;
  padding:0 0.5rem;
}
:host([size="small"]) {
  font-size:0.6rem;
  height:1.3rem;
  padding:0 0.6rem;
}