:host {
  display: flex;
  .btn{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width:1.8rem;
    height:1.8rem;
    background-color:$--lightgray-color;
    border:none;
    border-radius:50%;
    outline:none;
  }
  input{
    border:1px solid $--lightgray-color;
    text-align:center;
    font-size:$h5;
    color:$--black-color;
    display:block;
    width:auto;
    min-width:0;
    max-width:4em;
    margin:0 0.5rem;
    outline:none;
  }
}
