:host {
  display: flex;
  flex-direction: column;
  background: $--white-color;
  overflow:hidden;
  padding:1rem;
  margin-top:0.5rem;
  .head{
    position: relative;
    padding-bottom:0.5rem;
    margin-bottom:0.5rem;
    @include border_1px('bottom', $--lightgray-color, 0);
    .title{
      font-size:0.8rem;
      font-weight:bold;
    }
    .desc{
      font-size:0.7rem;
      color:$--secondary-color;
      margin:0.3rem 0 0 0;
      text-align:justify;
    }
    .btn{
      display:inline-flex;
      flex-direction:row;
      align-items:center;
      text-decoration:none;
      font-size:0.7rem;
      color:$--danger-color;
      margin-left:1rem;
      -webkit-tap-highlight-color: transparent;
      &:first-child{
        margin-left:0;
      }
    }
  }
}
